<!DOCTYPE html>
<html lang="en" >
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <title>实习信息</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="foundation.min.css">
  <link rel="stylesheet" href="us-app.css" type="text/css">
</head>
<body>
  <div class="off-canvas-wrap" data-offcanvas="">
    <div class="inner-wrap">
      <section class="main-section">
        <div class="min-height">
          <div class="row">
            <div class="small-12 columns">
              <div class="row minus_marg" style="padding-top:0px !Important;">
                <div class="medium-12 columns">
                  <div class="row minus_marg" style="padding-top:10px !Important;">
                    <div class="small-10 columns">
                      <h1>实习信息</h1>
                    </div>
                  </div>
                  <div class="row minus_marg ">
                    <div class="small-12 columns" style="padding-top:0px !Important;">
                      <div class="div-a"><p>姓名：<%= internInfo.name %></p></div>
                      <div class="div-c"><p>实习单位：<%= internInfo.company %></p></div>
                      <div class="div-c"><p>导师审核：审核通过</p></div>
                      <div class="div-c"><p>图书馆审核：审核通过</p></div>
                      <div class="div-c"><p>后勤审核：审核通过</p></div>
                      <div class="div-c"><p>财务审核：审核通过</p></div>
                      <div class="div-c"><p>学工办审核：审核通过</p></div>
                      <div class="div-c"><p>实习办审核：审核通过</p></div>
                      <div class="div-c"><p>实习立项生效时间：2016-09-09</p></div>
                      <div class="div-c"><p>结项审核状态：审核通过</p></div>
                      <div class="div-c"><p>实习结项生效时间：2016-09-09</p></div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

</body>
</html>
