<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-Type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="-1" http-equiv="Expires">
	<meta content="telephone=no" name="format-detection">
    <meta http-equiv="Content-Language" contect="zh-CN">
    <meta name="keywords" content="微信">
    <meta name="description" content="微信">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <title>开题与答辩</title>
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.0/weui.min.css">
</head>
<body>
<section>
	<div class="head-box">
		<div class="head-img"><img src="1.jpg"></div>

		<div class="head-name">论文题目</div>
	</div>
</section>
<section>
    <div class="nav-box">

    	<div class="nav-info">
    		<div class="nav-info0">
                <label for="#form1">开题状态</label>
                <form id="form1">
                    <table width="100%">
                        <tr>
                            <td>是否提交</td>
                            <td><i id="submit1" class="weui-icon-success"></i><label for="submit1" id="_submit1">已提交</label><i id=="_nosubmit1" class="weui-icon-cancel"></i><label id="_nosubmit1" for="nosubmit1">未提交</label></td>
                        </tr>
                        <tr>
                            <td>审核</td>
                            <td><i id="shenhe1" class="weui-icon-success"></i><label for="shenhe1" id="_shenhe1">通过</label><i id="_noshenhe1" class="weui-icon-cancel"></i><label id="_noshenhe1" for="noshenhe1">未通过</label></td>
                        </tr>
                        <tr>
                            <td>审核时间</td>
                            <td colspan="2">“审核时间”</td>
                        </tr>
                    </table>
                </form>
                <label for="#form2">论文进度</label>
                <form id="form2">
                    <table width="100%">
                        <tr>
                            <td>答辩秘书</td>
                            <td>“秘书名称”</td>
                        </tr>
                        <tr>
                            <td>秘书邮箱</td>
                            <td>“秘书邮箱”</td>
                        </tr>
                        <tr>
                            <td>初稿</td>
                            <td><i id="submit2" class="weui-icon-success"></i><label for="submit2" id="_submit2">已提交</label><i id="nosubmit2" class="weui-icon-cancel"></i><label id="_nosubmit2" for="nosubmit2">未提交</label></td>
                        </tr>
                         <tr>
                            <td>导师审核</td>
                            <td><i id="shenhe2" class="weui-icon-success"></i><label for="shenhe2" id="_shenhe2">通过</label><i id="noshenhe2" class="weui-icon-cancel"></i><label id="_noshenhe2" for="noshenhe2">未通过</label></td>
                        </tr>
                         <tr>
                            <td>终稿电子版</td>
                            <td><i id="submit3" class="weui-icon-success"></i><label for="submit3" id="_submit3">已提交</label><i id="nosubmit3" class="weui-icon-cancel"></i><label id="_nosubmit3" for="nosubmit3">未提交</label></td>
                        </tr>
                         <tr>
                            <td>终稿纸质版</td>
                            <td><i id="submit4" class="weui-icon-success"></i><label for="submit4" id="_submit4">已提交</label><i id="nosubmit4" class="weui-icon-cancel"></i><label id="_nosubmit4" for="nosubmit4">未提交</label></td>
                        </tr>
                    </table>
                </form>
    		</div>
    	</div>
    </div>
</section>
<script src="jquery.min.js"></script>
<script src="common.js"></script>
</body>
=======
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-Type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="-1" http-equiv="Expires">
	<meta content="telephone=no" name="format-detection">
    <meta http-equiv="Content-Language" contect="zh-CN">
    <meta name="keywords" content="微信">
    <meta name="description" content="微信">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <title>开题与答辩</title>
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.0/weui.min.css">
</head>
<body>
<section>
	<div class="head-box">
		<div class="head-img"><img src="1.jpg"></div>

		<div class="head-name">论文题目</div>
	</div>
</section>
<section>
    <div class="nav-box">

    	<div class="nav-info">
    		<div class="nav-info0">
                <label for="#form1">开题状态</label>
                <form id="form1">
                    <table width="100%">
                        <tr>
                            <td>是否提交</td>
                            <td><i id="submit1" class="weui-icon-success"></i><label for="submit1" id="_submit1">已提交</label><i id=="_nosubmit1" class="weui-icon-cancel"></i><label id="_nosubmit1" for="nosubmit1">未提交</label></td>
                        </tr>
                        <tr>
                            <td>审核</td>
                            <td><i id="shenhe1" class="weui-icon-success"></i><label for="shenhe1" id="_shenhe1">通过</label><i id="_noshenhe1" class="weui-icon-cancel"></i><label id="_noshenhe1" for="noshenhe1">未通过</label></td>
                        </tr>
                        <tr>
                            <td>审核时间</td>
                            <td colspan="2">“审核时间”</td>
                        </tr>
                    </table>
                </form>
                <label for="#form2">论文进度</label>
                <form id="form2">
                    <table width="100%">
                        <tr>
                            <td>答辩秘书</td>
                            <td>“秘书名称”</td>
                        </tr>
                        <tr>
                            <td>秘书邮箱</td>
                            <td>“秘书邮箱”</td>
                        </tr>
                        <tr>
                            <td>初稿</td>
                            <td><i id="submit2" class="weui-icon-success"></i><label for="submit2" id="_submit2">已提交</label><i id="nosubmit2" class="weui-icon-cancel"></i><label id="_nosubmit2" for="nosubmit2">未提交</label></td>
                        </tr>
                         <tr>
                            <td>导师审核</td>
                            <td><i id="shenhe2" class="weui-icon-success"></i><label for="shenhe2" id="_shenhe2">通过</label><i id="noshenhe2" class="weui-icon-cancel"></i><label id="_noshenhe2" for="noshenhe2">未通过</label></td>
                        </tr>
                         <tr>
                            <td>终稿电子版</td>
                            <td><i id="submit3" class="weui-icon-success"></i><label for="submit3" id="_submit3">已提交</label><i id="nosubmit3" class="weui-icon-cancel"></i><label id="_nosubmit3" for="nosubmit3">未提交</label></td>
                        </tr>
                         <tr>
                            <td>终稿纸质版</td>
                            <td><i id="submit4" class="weui-icon-success"></i><label for="submit4" id="_submit4">已提交</label><i id="nosubmit4" class="weui-icon-cancel"></i><label id="_nosubmit4" for="nosubmit4">未提交</label></td>
                        </tr>
                    </table>
                </form>
    		</div>
    	</div>
    </div>
</section>
<script src="jquery.min.js"></script>
<script src="common.js"></script>
</body>
>>>>>>> 69d2e642c6a0e4a71cc18d588771e8bf11762163
</html>