<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>信息</title>
    <link rel="stylesheet" href="/personalCenter/h5admin/Public/css/normalize.css"/>
    <link rel="stylesheet" href="/personalCenter/h5admin/Public/css/base.css">
    <link rel="stylesheet" href="/personalCenter/h5admin/Public/css/zepto.alert.css">
    <link rel="stylesheet" href="/personalCenter/h5admin/Public/dist/style/weui.css"/>
    <link rel="stylesheet" href="/personalCenter/h5admin/Public/dist/example/example.css"/>
</head>
<body>
<div class="wrap">
    <!--头像-->
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__hd"><img src="http://icampus.ss.pku.edu.cn/images/teacher/1106579094.jpg" alt="" style="width:60px;margin-right:15px;display:block"></div>
            <div class="weui-cell__bd">
                <p>教师姓名：</p>
                <p><span>性别：</span>
            </div>
        </div>
    </div>
    <div class="weui-cells">
        <!--教师id-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>教师id：</p>
            </div>
        </div>
        <!--职称-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>职称：</p>
            </div>
        </div>

        <!--手机-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>电话：12313123</p>
            </div>
           
        </div>
        <!--E-mail-->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>E-mail：</p>
            </div>
        </div>
    </div>


</div>

</div>
</body>
</html>